<main class="body">
    <div class="mt-5 form-width-custom">
        <h3 class="text-center mb-3 fw-medium">Cập Nhật Mật Khẩu</h3>

        <form ng-submit="reset()" id="form-login">
            <div class="form-group mb-3">
                <label for="password" class="form-label">Mật Khẩu</label>
                <input type="password" ng-model="password" id="password" class="form-control">
            </div>

            <div class="form-group mb-3">
                <label for="password_confirmation" class="form-label">Nhập Lại Mật Khẩu</label>
                <input type="password" ng-model="password_confirmation" id="password_confirmation" class="form-control">
            </div>

            <div class="form-group my-3">
                <button class="w-100 btn btn-danger" type="submit">
                    Lưu Thay Đổi
                </button>
            </div>
        </form>
    </div>
</main>